# Dependencies
node_modules/
**/node_modules/

# Environment variables (Do not commit .env files)
.env
.env.*
*.env
**/.env
**/.env.*

# Build outputs
dist/
build/
**/dist/
**/build/

# Logs
*.log
logs/
**/logs/

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
